<%= form_for(@undergrad_program) do |f| %>
  <% if @undergrad_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@undergrad_program.errors.count, "error") %> prohibited this undergrad_program from being saved:</h2>

      <ul>
      <% @undergrad_program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dept_id %><br>
    <%= f.number_field :dept_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :degree %><br>
    <%= f.text_field :degree %>
  </div>
  <div class="field">
    <%= f.label :org_code %><br>
    <%= f.text_field :org_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
